{% extends 'base.html.twig' %}

{% block title %}تحديث النقاقات{% endblock %}

{% block body %}
    <h1>تحديث النقابات</h1>
<hr>
    {{ include('syndicat/_form.html.twig', {'button_label': 'تحديث'}) }}

    <a href="{{ path('syndicat_index') }}">عودة الى القائمة</a>

    {{ include('syndicat/_delete_form.html.twig') }}
{% endblock %}
